@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-space-grotesk: 'Space Grotesk', sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk);
}


@keyframes blink {
  50% {
    opacity: 0;
  }
}

.animate-pulse {
  animation: blink 1s infinite;
}




/* Slide in from right */
@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Slide out to left */
@keyframes slideOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide-in {
  animation: slideIn 0.5s ease-in-out reverse;
}

.animate-slide-out {
  animation: slideOut 0.5s ease-in-out reverse;
}
